#root {
    max-width: 1280px;
    margin: auto;
    padding: 1rem;
    text-align: center;
  }
  
  header{
    display: flex;
    margin: 0;
    padding: 1em;
    align-items: center;
    justify-content: center;
  }
  
  .logo {
    height: 10em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  
  .logo:hover {
    filter: drop-shadow(0 0 2em #F374AEaa);
  }
  
  .cgpt{
    color: #888;
  }
  .cgpt:hover{
    color: #F374AE;
    cursor: default;
  }
  
  .read-the-docs {
    margin: 0.5em 0em;
    color: #888;
  }
  
  .container{
    display: flex;

  }

  .container h1,h2,h3,h4,p,a{
    color: #1a1a1a;
  }

  .container-el{
    background-color: #f1f1f1;
    margin: 2em;
    padding: 1em 2em;
    border-radius: 1rem;
    will-change: filter;
    transition: filter 300ms;
  }

  .container-el:hover {
    filter: drop-shadow(0 0 2em #F374AEaa);
  }
  
  .con1{
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
  }
  .con2{
    justify-content: center;
    align-items: center;
    text-align: start;
  }
  .con3{
    justify-content: flex-end;
    align-items: flex-end;
    text-align: start;
  }